<h1>Learning Log App</h1>

<p>Utworzymy aplikacje internetową o nazwie "Learning Log", pozwalająca użytkownikom 
    zapisywać interesujące ich infromacje i tym samym dodawać wpisy do dziennika
    podczas poznwania nowego zagadnienia. Strona główna aplikacji powinna zawierać
    opis wyjaśniający przeznaczenie tej witryny oraz zachęcić użytkowników do
    zalogowania lub zarejestrowania się. Po zalogowaniu użytkownik powinien mieć
    możliwość utworzenia nowego tematu, dodania nowego wpisu, a także dodania oraz 
    edytowania istniejacych wpisów.</p>